Create A Workout


<% if @workout.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
 
    <ul>
    <% @workout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@workout) do |f| %>

    <%= f.label :workout_date %>
    <%= f.date_field :workout_date %>
    <br>
    <br>
    <%= f.label :exercises_done %>
    <%= f.collection_check_boxes(:exercise_ids, Exercise.all, :id, :name)%>

    
    <br>
    <br>

<%= f.submit  %>

<% end %>