<h1> <%= @workout.user.username %>'s Workout </h1>

Date completed: <%= @workout.workout_date %> <br> <br>

<% @workout.exercises.each do |e| %>
    <li><%= e.name %> - 
    <%= e.value %> points</li>
<% end %> <br>

Points Total = <%= points_sum %>
<br> <br>

<% if current_user == @workout.user%>
    <%= link_to "Add a New Exercise", new_workout_exercise_path(@workout) %>
<% end %>