<h1> All Users </h1>

<%= form_tag('/users', :method => 'get') do %>

    <%= label_tag(:search, "Search") %>
    <%= search_field_tag(:search) %>  
     
    <%= submit_tag "Search"%>    
   
<% end %>

<% @users.each do |u| %>
    <li>
       <%= link_to u.username, user_path(u) %>
    </li>
<% end %>